<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">

              
    	
    <!-- 加载配置文件 -->  
    <context:property-placeholder location="classpath:config.properties"/>  
    
    <bean id="springContextHelper" class="org.south.itms.util.SpringContextHelper"></bean>  
    
    <!-- 扫描service自动注入为bean -->  
    <context:component-scan base-package="org.south.itms.aspect,org.south.itms.controller,org.south.itms.service.impl,org.south.itms.dao.impl;" />




	<!-- 下面是切面的注入与配置 -->
  	
  	
  	<!-- 稿件管理相关的切点 -->
  	<bean id = "meterialOperationAspectPoint" class= "org.south.itms.aspect.MeterialOperationAspect"/>
  	<!-- 为稿件上传配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="meterialOperationAspectPoint"> 
       		<aop:after method="completeMaterialUpload" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.upload(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  	<!-- 为稿件删除配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="meterialOperationAspectPoint"> 
       		<aop:before method="completeMaterialDelete" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.delMaterial(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  	<!-- 为稿件修改配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="meterialOperationAspectPoint"> 
       		<aop:after method="completeMaterialModify" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.editMaterial(..))"/> 
    	</aop:aspect> 
  	</aop:config>
 	<!-- 为稿件审核配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="meterialOperationAspectPoint"> 
       		<aop:after method="completeMaterialReview" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.checkUnAccess(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  		<aop:config> 
    	<aop:aspect ref="meterialOperationAspectPoint"> 
       		<aop:after method="completeMaterialReview" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.checkAccess(..))"/> 
    	</aop:aspect> 
  	</aop:config>
 
 
	<!-- 时段管理相关切点 -->
  	<bean id = "periodOperationAspectPoint" class= "org.south.itms.aspect.PeriodOperationAspect"/>
  	<!-- 为时段增加配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="periodOperationAspectPoint"> 
       		<aop:after method="completePeriodAdd" 
       		pointcut="execution(* org.south.itms.controller.PeriodController.addPeriod(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  	<!-- 为时段删除配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="periodOperationAspectPoint"> 
       		<aop:before method="completePeriodDelete" 
       		pointcut="execution(* org.south.itms.controller.PeriodController.deletePeriod(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  	<!-- 为时段修改配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="periodOperationAspectPoint"> 
       		<aop:after method="completePeriodModify" 
       		pointcut="execution(* org.south.itms.controller.PeriodController.editPeriod(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  	
  	
  	<!-- 节目管理相关切点 -->
  	<bean id = "itemOperationAspectPoint" class= "org.south.itms.aspect.ItemOperationAspect"/>
  	<!-- 为节目增加配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="itemOperationAspectPoint"> 
       		<aop:after method="completeItemAdd" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.addMaterial(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  	<!-- 为节目删除配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="itemOperationAspectPoint"> 
       		<aop:before method="completeItemDelete" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.delItem(..))"/> 
    	</aop:aspect> 
  	</aop:config>
  	<!-- 为节目修改配置切面 -->
  	<aop:config> 
    	<aop:aspect ref="itemOperationAspectPoint"> 
       		<aop:after method="completeItemModify" 
       		pointcut="execution(* org.south.itms.controller.MaterialController.editFile(..))"/> 
    	</aop:aspect> 
  	</aop:config>

	<!-- 播表管理相关切点 -->
	<bean id = "playTableOperationAspectPoint" class= "org.south.itms.aspect.PlayTableOperationAspect"/>
	<!-- 为播表生成配置切面 -->
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableGeneration"
					   pointcut="execution(* org.south.itms.controller.PtableController.generateTable(..))"/>
		</aop:aspect>
	</aop:config>
	<!-- 为播表复制节目配置切面 -->
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableCopyItemInIt"
					   pointcut="execution(* org.south.itms.controller.PtableController.copyOneToPlayFile(..))"/>
		</aop:aspect>
	</aop:config>
	<!-- 为播表删除节目配置切面 -->
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableDeleteItemFromIt"
					   pointcut="execution(* org.south.itms.controller.PtableController.delOneFromPlayFile(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 为播表修改顺序配置切面 -->
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableChangePlayOrder"
					   pointcut="execution(* org.south.itms.controller.PtableController.modifyPlayTableNumFromaddPtable(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 为播表一级审核配置切面 -->
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableFirstLevelReviewAccess"
					   pointcut="execution(* org.south.itms.controller.PtableController.modifyPlayTableNum(..))"/>
		</aop:aspect>
	</aop:config>
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableFirstLevelReviewUnAccess"
					   pointcut="execution(* org.south.itms.controller.PtableController.playTableUnAccess(..))"/>
		</aop:aspect>
	</aop:config>
	<!-- 为播表终审配置切面 -->
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableFinalLevelReviewAccess"
					   pointcut="execution(* org.south.itms.controller.PtableController.modifyPlayTableFinalNum(..))"/>
		</aop:aspect>
	</aop:config>
	<aop:config>
		<aop:aspect ref="playTableOperationAspectPoint">
			<aop:after method="completePlayTableFinalLevelReviewUnAccess"
					   pointcut="execution(* org.south.itms.controller.PtableController.modifyPlayTableFinalNumUn(..))"/>
		</aop:aspect>
	</aop:config>


	<!-- 系统管理相关切点 -->
	<bean id = "systemOperationAspectPoint" class= "org.south.itms.aspect.SystemOperationAspect"/>

	<!-- 登录 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeSystemLogin"
					   pointcut="execution(* org.south.itms.controller.LoginController.loginIn(..))"/>
		</aop:aspect>
	</aop:config>

	<!--添加用户-->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeAddUser"
					   pointcut="execution(* org.south.itms.controller.SystemController.addUser(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 编辑用户-->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeModifyUser"
					   pointcut="execution(* org.south.itms.controller.SystemController.editUser(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 删除用户 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:before method="completeDeleteUser"
					   pointcut="execution(* org.south.itms.controller.SystemController.delUser(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 添加角色 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeAddRole"
						pointcut="execution(* org.south.itms.controller.SystemController.addRole(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 编辑角色 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeModifyRole"
					   pointcut="execution(* org.south.itms.controller.SystemController.editRole(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 删除角色 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:before method="completeDeleteRole"
					   pointcut="execution(* org.south.itms.controller.SystemController.delRole(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 添加终端 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeAddTerminal"
					   pointcut="execution(* org.south.itms.controller.TerminalController.addTerminal(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 修改终端 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeModifyTerminal"
					   pointcut="execution(* org.south.itms.controller.TerminalController.editTerminal(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 删除终端 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:before method="completeDeleteTerminal"
					   pointcut="execution(* org.south.itms.controller.TerminalController.delTerminal2(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 终止播放端 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeStopTerminal"
					   pointcut="execution(* org.south.itms.controller.PlayerController.stopTerminal(..))"/>
		</aop:aspect>
	</aop:config>

	<!-- 重启播放端 -->
	<aop:config>
		<aop:aspect ref="systemOperationAspectPoint">
			<aop:after method="completeRestartTerminal"
					   pointcut="execution(* org.south.itms.controller.PlayerController.restartTerminal(..))"/>
		</aop:aspect>
	</aop:config>
	<aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>